body{
	background: whitesmoke;
	font-family: arial, verdana, sans-serif;
}

.product-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
}
.img-cont{
	display: flex;
	justify-content: space-around;
	background: #eee;animation: 2s ease-in ;
	overflow: hidden;
}
#clothes{
	overflow: hidden;
	background: white;
	border-right: 1px solid rgb(165, 163, 163);
	border-bottom: 1px solid rgb(165, 163, 163);;
	height:350px;
	width: 250px;
	transform: translate(50% 50%);
	margin: 20px;
	border-radius: 5%;
}
.search-cont{
	margin-top: 80px; 
}

header{
	display: flex;
	justify-content: flex-end;
	background: #eee;
	position: fixed;
	top: 0;
	left: 0;
	height: 70px;
	overflow: hidden;
	right: 0;
	z-index: 1;
}

.logo{
	margin-right: auto;
	margin-left: 20px;
	width: 30px;
	height: auto;
}
.logoimg{
	width: 54px;
	height: auto;
}

header ul li{
	display: inline-block;
	margin-right: 20px;
}

a{
	text-decoration: none;
	color: black
}

.cart-btn{
	margin: 15px 20px;
	background: transparent;
	border: 2px solid rgb(5, 237, 250);
	border-radius: 10px;
	width: 80px;
	transition: all 0.4s ease;
	font-size:15px;
}
.cart-btn:hover{
	background: rgb(5, 237, 250) ;
}

.images{
	height: 200px;
	width: 80%;
	transition: all 0.5s ease-in-out
}
.images:hover{
	transform: scale(1.1);
}
.button{
	text-decoration: none;
	background: rgb(245, 245, 103);
	width: 30%;
	border-radius: 15px;
	text-align: center;
	padding: 7px;
	color: steelblue;
	text-emphasis: bolder;
	margin-left: 20%;
}
button, a{
	cursor: pointer;
}
.button:hover{
background: orange;
text-emphasis: bolder;
color: rgb(18, 73, 90);
/* border-bottom:10px red;
border-color:orange;*/
}

button:focus{
	outline: none;
}
#text{
	
	margin-left: 20%;

}
.contact{
	float: left;
	position: absolute;
	display: flex;
	justify-content: center;
	/*flex-wrap: wrap;*/
	margin-top: 50px;
	
}
.logo{
	width: 80px;
	height: 100px;

}
.logoimage{
	height: 450px;
	width: 350px;
	margin-top: 50px;
	overflow: hidden;
}
.contact-text{
	font-family: 'Times New Roman', Times, serif, arial, verdana, sans-serif;
	margin-left: 80px;
	width: 250px;
	margin-top: 18%;
	font-size: 18px;
}
h3{
	color: blue;
}
.loginimg{
	width: 45px;
	height: auto;
}
.loginimg:hover{
	
}
.logindiv{
	/* display: flex; */
	justify-content: center;
	/* flex-wrap: wrap; */
	width: 400px;
	height: auto;
	float: left;
	border: 1px solid gray;
	border-radius: 10%;
	text-align: center;
	
    /* background: linear-gradient(rgba(255, 255, 255, 0.062),beige,rgb(186, 186, 196)); */
    color: rgb(34, 4, 4);
    top: 50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
	padding: 70px 30px;
	margin-top: 5%;
	margin-bottom: 10%; 
}

.logindiv  input{
	border:none;
	border-bottom: 1px solid black;
	background: transparent;
	color: blue;
	outline: none;
	height: 40px;
	margin-bottom: 10%;
	width: 80%;
	}
.logindiv input[type="submit"], input[type="button"]
	{
		border:none;
		outline: none;
	   padding: 10px;
	   width: 100px;
		background: orange;
		color: #fff;
		font-size: 18px;
		border-radius: 20px;
		font-weight: bolder;
	}
	.logindiv input[type="submit"]:hover,input[type="button"]:hover {
		cursor: pointer;
		background: rgb(190, 216, 150);
		color: #000;
		} 
	.loginimg2{
		width: 50px;
		height: auto;
	}
	.a{
		text-decoration: blue;
		color: blue;
	}
	.a:hover{
border-bottom: 1px solid blue;
cursor: pointer;
	}
